* {
  margin: 0;
  padding: 0;
  border: none;
  overflow: visible;
}


h1 {
  text-align: center;
  font-family: Cambria;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-family: Cambria;
  font-weight: normal;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

textarea {
  width: 50%;
  min-height: 120px;
  display: inline-block;
  box-sizing: border-box;
  resize: none;
  outline: none;
  padding: 1em;
  background-color: #DCDCDC;
}

button {
  width: 40%;
  min-height: 120px;
  display: inline-block;
  float: right;

  background-color: lightblue;
}

.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  border-radius:3px;
  margin: 1em;
  user-select:none;
  width: auto;
  height: auto;
}

#left-container {
  margin: .2em;
  margin-left: 1em;
  padding: 0;
  width: 65%;
  min-width: 700px;
  height: auto;
  border-radius:0;
  display: inline-block;
  float: left;
  visibility:hidden;
}

#right-container {
  margin: .2em;
  padding: 0;
  min-width: 500px;
  min-height: 819px;
  border: none;
  display: inline-block;
  float: right;
  vertical-align: top;
  position: fixed;
  visibility: hidden;
}

#page-container {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  overflow: visible;
}

#chat-box {
  box-sizing: border-box;
  margin: 1em;
  padding: 1.5em;
  height: 100%;
  visibility: visible;
  overflow: visible;
  background-color: white;
}

#video-box {
  margin: 1rem;
  padding-top: 1em;
  width: 30vw;
  min-width: 640px;
  min-height: 340px;
  margin-left: auto;
  margin-right: auto;
  visibility: visible;
  overflow: visible;
  z-index: 2;
}

#player {
  vertical-align: middle;
  margin: 0 auto;
  display: block;
}

#logo {
  display: inline-block;
  float: right;
}

#search-bar {
  display: inline-block;
}

#search {
  padding: 1em;
  margin-left: 1em;
  background: #DCDCDC;
  border: none;
  outline: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 15px;
  border-radius: 5px;
}

#upper-box {
  visibility: visible;
  width: 30vw;
  min-width: 642px;
  min-height: 35px;
  margin-left: auto;
  margin-right: auto;
  top: 1em;
}

#lower-box {
  visibility: visible;
  width: 30vw;
  min-width: 642px;
  min-height: 200px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

#chat-title {
  min-height: 50px;
}

#message-box {
  width: auto;
  min-height: 400px;
  margin: 0 auto;
}

#messenger-box {
  min-height: 130px;
  position: relative;
}

#friends-online-box {
  min-height: 60px;
}
